[submodule "src/rspcm/whisper.cpp"]
	path = src/rspcm/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
[submodule "src/rspcm/piper"]
	path = src/rspcm/piper
	url = https://github.com/rhasspy/piper
[submodule "src/rspcm/llama.cpp"]
	path = src/rspcm/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
[submodule "src/rspcm/ggml"]
	path = src/rspcm/ggml
	url = https://github.com/ggml-org/ggml
[submodule "src/rspcm/flash/usbboot"]
	path = src/rspcm/flash/usbboot
	url = https://github.com/raspberrypi/usbboot
[submodule "src/user_interface/clay"]
	path = src/user_interface/clay
	url = https://github.com/nicbarker/clay

