[submodule "src/rspcm/whisper.cpp"]
	path = src/rspcm/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
[submodule "src/rspcm/piper"]
	path = src/rspcm/piper
	url = https://github.com/rhasspy/piper
[submodule "src/rspcm/llama.cpp"]
	path = src/rspcm/llama.cpp
	url = https://github.com/ggml-org/llama.cpp

